build/
native/linux/
native/windows/
native/macos/
*.o
*.a
*.so
*.dll
*.dylib
artifacts/
native/stage/
/native/dotnet/CefNative/bin
/native/dotnet/CefNative/obj
/dotnet/CefNative/bin
/dotnet/CefNative/obj
/dotnet/CefNative.Test/bin
/dotnet/CefNative.Test/dotnet/CefNative.Test/obj
/dotnet/CefNative.Test/obj
/unused
